main{
    position:absolute;
    left:1%;
    top:1%;
    border:solid;
    border-radius:0.3%;
    border-width:0.3%;
}
#live-html{
    position:absolute;
    right:1%;
    top:1%;
    bottom:1%;
    width:48%;
    border:solid;
    border-radius:0.3%;
    border-width:0.3%;
}
